/* Header */
.header {
	height: 80px;
	padding: 0 8%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	font-size: 24px;
	font-weight: 600;
	align-items: center;
}
.nav-link ul {
	display: flex;
	align-items: center;
}
.nav-link ul li {
	padding: 15px;
}
.nav-link ul li a {
	color: #333333;
	font-size: 16px;
}
.nav-link ul .sign-in {
	color: white;
	padding: 8px 30px;
	margin-left: 30px;
	background-color: #4252f0;
	border-radius: 5px;
}
.nav-link ul .sign-in a {
	color: white;
}
