* {
	margin: 0;
	padding: 0;
}
:root {
	--main-color: #090528;
	--light-blue: #4252f0;
	--title-color: #525b6a;
	--text-color: #333333;
	--small-text: 14px;
	--description: 16px;
}

.login-section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 800px;
}

.login-form {
	width: auto;
	height: auto;
}

.des {
	font-size: var(--description);
	color: var(--light-blue);
}

.login-form p {
	font-size: var(--description);
	margin-top: 10px;
	font-weight: 500;
}

.login-form button {
	font-size: var(--small-text);
	padding: 10px 5%;
	border: 1px solid #ced4da;
	width: 100%;
	margin-top: 20px;
}

.login-place {
	margin: 20px 0;
}

.login-place p {
	font-size: 14px;
	font-weight: 500;
	margin-top: 20px;
	padding-bottom: 8px;
}

.login-place input {
	border: 1px solid #ced4da;
	/* border-radius: 20px; note:only if you want smooth border */
	padding: 13px;
	padding-left: 5%;
	margin: 5px 0 5px 0;
	width: 93%;
	outline-color: #4252f0;
}

.login-form p {
	font-size: var(--small-text);
}

.not-registered-yet a {
	font-size: var(--small-text);
	color: var(--light-blue);
	text-decoration: none;
}

.login-button {
	background-color: var(--light-blue);
	color: white;
	margin: 20px 0;
}

.login-two {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	margin-top: 5px 0;
}

.login-two p {
	font-size: var(--small-text);
	font-weight: 500;
}

.password {
	color: var(--light-blue);
}
